<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
</head>
<body>
    <h1>Registro</h1>
    <form method="POST" action="/register">
        <!-- MODIFICAÇÃO BD value="{{request.form['']}}"-->
        <input type="text" name="nome" value="{{request.form['nome']}}" placeholder="Nome de usuário" required><br>
        <input type="text" name="sobrenome" value="{{request.form['sobrenome']}}" placeholder="Sobrenome" required><br>
        <input type="email" name="email" value="{{request.form['email']}}" placeholder="Email" required><br>
        <input type="password" name="senha" value="{{request.form['senha']}}" placeholder="Senha" required><br>
        <input type="submit" value="Registrar">
    </form>
    <p>Já tem uma conta? <a href="/login">Faça login</a></p>
</body>
</html>
