<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8" />
    <title>Sun Energy - Simulação</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- Icones -->
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
</head>

<body class="homepage">
    <div class="wrapper">
        <header class="site-header">
            <a id="btn-home" href="/"><img src="{{ url_for('static', filename='images/home.png') }}" class="home-btn"></a>
            <img class="logoimg" src="{{ url_for('static', filename='images/logo-2.png') }}" alt="" />
        </header>
        <main class="main-content">
            <div class="card-wrapper">
                <a href="{{ url_for('ongrid') }}">
                    <div class="card">
                        Sistema On Grid
                        <img src="{{ url_for('static', filename='images/ongrid.png') }}" alt="">
                    </div>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="{{ url_for('offgrid') }}">
                    <div class="card">
                        Sistema Off Grid
                        <img src="{{ url_for('static', filename='images/offGrid.png') }}" alt="">
                    </div>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="{{ url_for('hybrid') }}">
                    <div class="card">
                        Sistema Híbrido
                        <img src="{{ url_for('static', filename='images/hybrid.png') }}" alt="">
                    </div>
                </a>
            </div>
        </main>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  
</body>

</html>